* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --slate1: hsl(206, 30%, 98.8%);
  --slate2: hsl(210, 16.7%, 97.6%);
  --slate3: hsl(209, 13.3%, 95.3%);
  --slate4: hsl(209, 12.2%, 93.2%);
  --slate5: hsl(208, 11.7%, 91.1%);
  --slate6: hsl(208, 11.3%, 88.9%);
  --slate7: hsl(207, 11.1%, 85.9%);
  --slate8: hsl(205, 10.7%, 78%);
  --slate9: hsl(206, 6%, 56.1%);
  --slate10: hsl(206, 5.8%, 52.3%);
  --slate11: hsl(206, 6%, 43.5%);
  --slate12: hsl(206, 24%, 9%);
}

section {
  height: 100vh;
  width: 100%;
}

center {
  margin: 4rem 0rem;
}

ul {
  list-style: none;
}

body {
  font-family: poppins, sans-serif;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  height: 10vh;
  z-index: 9999;
}

p {
  font-weight: lighter;
  margin: 0rem 4rem;
}

nav ul {
  cursor: pointer;
  text-decoration: none;
  color: black;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

nav li,
a {
  padding: 0rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
  color: black;
}

nav img {
  align-items: center;
  display: flex;
  height: 10vh;
  margin-left: 5rem;
}

.hero-container {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
}

.hero-img-container h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hero-sub-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.hero-sub-container a {
  border: white 2px solid;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  color: white;
  margin: 1vh;
}

.left {
  width: 100%;
  flex-basis: 30%;
  background-color: lightcoral;
  flex-direction: column;
}
.right {
  width: 100%;
  flex-basis: 70%;
  display: flex;
}

.hero-container img {
  width: 100%;
  height: 100%;
}

.container h2 {
  margin: 4rem 4rem 0rem 4rem;
}

.container {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  min-height: 50vh;
}

.box {
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: 33%;
  margin: 1rem 2rem;
  padding: 2rem;

  position: relative;
}

.box p {
  position: absolute;
  bottom: 0;
  margin: 0rem 2rem;
}

.box img {
  display: flex;
  width: 100%;
  height: 100%;
  box-shadow: 1.5px 1.5px #cecbcb;
  cursor: pointer;
  object-fit: cover;
}

.about {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 20vh;
}

.about h2 {
  font-size: 2rem;
  padding: 4rem 4rem;
}

.about p {
  width: 50%;
  font-size: 1.5rem;
  margin: 0rem 4rem;
}

.map {
  margin: 8rem 4rem;
  right: 0px;
  top: 0;
  position: absolute;
}

.map {
  border-radius: 10px 10px;
}
.map,
.about-txt {
  width: 400px;
  height: 500px;
  display: flex;
  align-items: center;
}

.item-container img {
  width: 100%;
  height: 70vh;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  overflow-x: hidden;
}

.typing {
  margin-left: 10px;
}

.typing::after {
  content: "";
  position: absolute;
  right: -5px;
  width: 1px;
  height: 5%;
  border-right: 2px solid white;
  animation: blink 0.5s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
    right: -100;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

.menu-container h1 {
  margin: 4rem 0rem;
  font-size: 5rem;
}

.menu-h2 {
  padding: 0rem 4rem;
  margin: 4rem 0rem;
  font-size: 3rem;
}

.menu-item h3 {
  margin: 0rem 2rem;
}

.menu-line {
  border: 1px solid black;
  margin: 1rem 4rem;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
}

.menu-item p {
  font-size: 2rem;
  margin: 0rem 4rem;
}

footer {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  font-family: poppins, sans-serif;
  color: white;
  border-top: slategray 2px solid;
}

footer a,
i {
  color: white;
  padding: 1rem 0rem;
  color: inherit;
  font-family: poppins, sans-serif;
  list-style: none;
  text-decoration: none;
}

footer ul h3 {
  margin: 0rem 4rem;
  padding: 1rem 0rem;
  text-decoration: none;
  list-style: none;
  color: white;
}

footer p {
  font-family: poppins, sans-serif;
  padding: 2rem 0rem;
  margin: 2rem 4rem;
  color: white;
}
